

/* Container */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}

/* header */
.header {
    margin-bottom: 20px;
    border: 2px solid #1479a8;
    border-radius: 5px;
}

.logo {
    height: 60px;
    display: flex;
    padding: 10px;

}
 
/* Layout */
.layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Sidebar */
.sidebar {
    width: 220px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    background-color: #1479a8;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #084879;
}

/* Routine */
.routine {
    flex: 1; /* take remaining space */
    display: flex;
    flex-direction: column;
}

.routine h2 {
    text-align: center;
    font-size: 18px;
    background-color: #1479a8;
    color: #fff;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 10px;
}

/* Routine table wrap */
.routine-wrap {
    width: 100%;
    overflow-x: auto;
}

/* Table */
.routine-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.routine-table th,
.routine-table td {
    border: 1px solid #cfdbe6;
    padding: 8px 10px;
    text-align: center;
    font-size: 14px;
}

.routine-table th {
    background-color: #1479a8;
    color: white;
    font-weight: 600;
}



